.mainContainer {
    height: 100vh;
    background-color: #02475e;
    
}
.mapContainer {
    width: 80%;
    font-family: raleway-light;
}

.dashboard,.mapContainer,.infoContainer,.leaderboard,.covidWrapper {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);     
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    overflow-y: auto;
}

.leaderboardWrapper {
-webkit-box-shadow: 16px 1px 5px -11px rgba(0,0,0,0.51);
-moz-box-shadow: 16px 1px 5px -11px rgba(0,0,0,0.51);
box-shadow: 16px 1px 5px -11px rgba(0,0,0,0.51);
}

.leaderboardWrapper, .covidWrapper {
    background-color: #8fd9a8 !important;
}


/* xs */
/* @media only screen and (max-width: 576px) {
    .mapContainer {
        
    }
} */

/* sm */
@media only screen and (min-width: 450px) and (max-width: 760px){
    .mapContainer {
        /* border: 5px solid green;     */
        width: 100% !important;
        height: 100%;
    }
}
/* md =>  760px or below*/
@media only screen and (max-width: 760px)  {
    .mapContainer {
        height: 100% !important;
    }


}
@media only screen and (max-width: 1200px ){
    .first-column {
        display: none !important;
    }
    .second-column {
        height: 100%;
    }
}
/* lg */
@media only screen and (min-width: 992px) {
 
}
/* xl */
@media only screen and (min-width: 1200px) {

}
    