.mainContainer {
    height: 100vh;
    background-color: #5aa897;
    
}
.mapContainer {
    width: 80%;
    height: 75%;
}

.dashboard,.mapContainer,.infoContainer,.leaderboard {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);     
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    overflow-y: auto;
}



/* xs */
/* @media only screen and (max-width: 576px) {
    .mapContainer {
        
    }
} */

/* sm */
@media only screen and (min-width: 450px) and (max-width: 760px){
    .mapContainer {
        /* border: 5px solid green;     */
        width: 100% !important;
        height: 100%;
    }
}
/* md =>  760px or below*/
@media only screen and (max-width: 760px)  {
    .first-column {
        height: 25%;
    }
    .second-column {
        height: 75%;
    }

}
/* lg */
@media only screen and (min-width: 992px) {
 
}
/* xl */
@media only screen and (min-width: 1200px) {

}
    